/*
 * Fireblocks API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.6.2
 * Contact: support@fireblocks.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiException;
import org.openapitools.client.ApiClient;
import org.openapitools.client.Configuration;
import org.openapitools.client.model.*;
import org.openapitools.client.Pair;

import org.openapitools.client.model.Error;
import org.openapitools.client.model.ResendWebhooksForTransactionRequest;
import org.openapitools.client.model.ResendWebhooksResponse;

import com.sun.jersey.api.client.GenericType;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class WebhooksApi {
  private ApiClient apiClient;

  public WebhooksApi() {
    this.apiClient = new ApiClient();
  }

  public WebhooksApi(Configuration config) {
    this.apiClient = new ApiClient(config);
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Resend failed webhooks
   * Resends all failed webhook notifications.
   * @return ResendWebhooksResponse
   * @throws ApiException if fails to make API call
   */
  public ResendWebhooksResponse resendWebhooks() throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/webhooks/resend";

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "*/*", "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    GenericType<ResendWebhooksResponse> localVarReturnType = new GenericType<ResendWebhooksResponse>() {};
    return apiClient.invokeAPI(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
      }
  /**
   * Resend failed webhooks for a transaction by ID
   * Resends failed webhook notifications for a transaction by ID.
   * @param txId The ID of the transaction for webhooks (required)
   * @param resendWebhooksForTransactionRequest  (required)
   * @throws ApiException if fails to make API call
   */
  public void resendWebhooksForTransaction(String txId, ResendWebhooksForTransactionRequest resendWebhooksForTransactionRequest) throws ApiException {
    Object localVarPostBody = resendWebhooksForTransactionRequest;
    
    // verify the required parameter 'txId' is set
    if (txId == null) {
      throw new ApiException(400, "Missing the required parameter 'txId' when calling resendWebhooksForTransaction");
    }
    
    // verify the required parameter 'resendWebhooksForTransactionRequest' is set
    if (resendWebhooksForTransactionRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'resendWebhooksForTransactionRequest' when calling resendWebhooksForTransaction");
    }
    
    // create path and map variables
    String localVarPath = "/webhooks/resend/{txId}"
      .replaceAll("\\{" + "txId" + "\\}", apiClient.escapeString(txId.toString()));

    // query params
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();


    
    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };


    apiClient.invokeAPI(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, null);
  }
}
