/*
 * Fireblocks API
 * Fireblocks provides a suite of applications to manage digital asset operations and a complete development platform to build your business on the blockchain.  - Visit our website for more information: [Fireblocks Website](https://fireblocks.com) - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)
 *
 * The version of the OpenAPI document: 1.6.2
 * Contact: developers@fireblocks.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.fireblocks.sdk.api;


import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fireblocks.sdk.ApiClient;
import com.fireblocks.sdk.ApiException;
import com.fireblocks.sdk.ApiResponse;
import com.fireblocks.sdk.Pair;
import com.fireblocks.sdk.ValidationUtils;
import com.fireblocks.sdk.model.ConsoleUser;
import com.fireblocks.sdk.model.CreateConsoleUser;
import com.fireblocks.sdk.model.GetConsoleUsersResponse;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.ArrayList;
import java.util.List;
import java.util.StringJoiner;
import java.util.concurrent.CancellationException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import java.util.concurrent.ExecutionException;
import java.util.function.Consumer;

@jakarta.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.14.0")
public class ConsoleUserApi {
    private final HttpClient memberVarHttpClient;
    private final ObjectMapper memberVarObjectMapper;
    private final String memberVarBaseUri;
    private final Consumer<HttpRequest.Builder> memberVarInterceptor;
    private final Duration memberVarReadTimeout;
    private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
    private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

    public ConsoleUserApi() {
        this(new ApiClient());
    }

    public ConsoleUserApi(ApiClient apiClient) {
        memberVarHttpClient = apiClient.getHttpClient();
        memberVarObjectMapper = apiClient.getObjectMapper();
        memberVarBaseUri = apiClient.getBaseUri();
        memberVarInterceptor = apiClient.getRequestInterceptor();
        memberVarReadTimeout = apiClient.getReadTimeout();
        memberVarResponseInterceptor = apiClient.getResponseInterceptor();
        memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
    }

    private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message =
                formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(
                response.statusCode(), message, response.headers(), response.body());
    }

    /**
     * Normalizes any failure raised while performing the call into the single failure type callers
     * are told to expect. Transport-level errors surfaced by {@code HttpClient.sendAsync} -
     * connection refused, DNS failures, TLS errors, timeouts - would otherwise reach the caller as
     * a raw {@link java.io.IOException}, which makes the documented {@code (ApiException)
     * e.getCause()} throw {@link ClassCastException}.
     *
     * <p>{@link CancellationException} is passed through unchanged: a cancelled call is not an API
     * failure.
     */
    private static Throwable toApiFailure(Throwable throwable) {
        Throwable cause = throwable;
        while ((cause instanceof CompletionException || cause instanceof ExecutionException)
                && cause.getCause() != null) {
            cause = cause.getCause();
        }
        if (cause instanceof ApiException || cause instanceof CancellationException) {
            return cause;
        }
        return new ApiException(cause);
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
        if (body == null || body.isEmpty()) {
            body = "[no body]";
        }
        return operationId + " call failed with: " + statusCode + " - " + body;
    }

    /**
     * Create console user Create console users in your workspace - Please note that this endpoint
     * is available only for API keys with Admin/Non Signing Admin permissions. Learn more about
     * Fireblocks Users management in the following
     * [guide](https://developers.fireblocks.com/docs/manage-users). Endpoint Permission: Admin,
     * Non-Signing Admin.
     *
     * @param createConsoleUser (optional)
     * @param idempotencyKey A unique identifier for the request. If the request is sent multiple
     *     times with the same idempotency key, the server will return the same response as the
     *     first request. The idempotency key is valid for 24 hours. (optional)
     * @return CompletableFuture&lt;ApiResponse&lt;Void&gt;&gt;, which completes exceptionally with
     *     an {@link ApiException} if the API call fails
     */
    public CompletableFuture<ApiResponse<Void>> createConsoleUser(
            CreateConsoleUser createConsoleUser, String idempotencyKey) {
        try {
            HttpRequest.Builder localVarRequestBuilder =
                    createConsoleUserRequestBuilder(createConsoleUser, idempotencyKey);
            return memberVarHttpClient
                    .sendAsync(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofString())
                    .thenComposeAsync(
                            localVarResponse -> {
                                if (memberVarAsyncResponseInterceptor != null) {
                                    memberVarAsyncResponseInterceptor.accept(localVarResponse);
                                }
                                if (localVarResponse.statusCode() / 100 != 2) {
                                    return CompletableFuture.failedFuture(
                                            getApiException("createConsoleUser", localVarResponse));
                                }
                                return CompletableFuture.completedFuture(
                                        new ApiResponse<Void>(
                                                localVarResponse.statusCode(),
                                                localVarResponse.headers().map(),
                                                null));
                            })
                    .handle(
                            (localVarApiResponse, localVarThrowable) ->
                                    localVarThrowable == null
                                            ? CompletableFuture.completedFuture(localVarApiResponse)
                                            : CompletableFuture.<ApiResponse<Void>>failedFuture(
                                                    toApiFailure(localVarThrowable)))
                    .thenCompose(localVarNormalized -> localVarNormalized);
        } catch (ApiException e) {
            return CompletableFuture.failedFuture(e);
        }
    }

    private HttpRequest.Builder createConsoleUserRequestBuilder(
            CreateConsoleUser createConsoleUser, String idempotencyKey) throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/management/users";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        if (idempotencyKey != null) {
            localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
        }
        localVarRequestBuilder.header("Content-Type", "application/json");
        localVarRequestBuilder.header("Accept", "application/json");

        try {
            byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(createConsoleUser);
            localVarRequestBuilder.method(
                    "POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
        } catch (IOException e) {
            throw new ApiException(e);
        }
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
    /**
     * Request deletion of a console user Requests deletion of a console user. The request is
     * asynchronous: it goes through the workspace&#39;s configured \&quot;Delete users\&quot;
     * approval policy (Settings &gt; Quorums), exactly as deleting a user from the console does,
     * and the user is removed only once that approval completes. - Track progress by polling GET
     * /management/users; deletion is complete when the user is disabled. - Please note that this
     * endpoint is available only for API keys with Admin/Non Signing Admin permissions. Endpoint
     * Permission: Admin, Non-Signing Admin. **Note:** This endpoint is currently in beta and might
     * be subject to changes.
     *
     * @param id The ID of the console user to delete (required)
     * @param force Acknowledges the impact of removing this user and proceeds anyway. Overrides
     *     both USER_REFERENCED_IN_TAP and QUORUM_INTEGRITY, the same way the acknowledgement
     *     checkbox does in the console. (optional, default to false)
     * @return CompletableFuture&lt;ApiResponse&lt;ConsoleUser&gt;&gt;, which completes
     *     exceptionally with an {@link ApiException} if the API call fails
     */
    public CompletableFuture<ApiResponse<ConsoleUser>> deleteConsoleUser(String id, Boolean force) {
        try {
            HttpRequest.Builder localVarRequestBuilder = deleteConsoleUserRequestBuilder(id, force);
            return memberVarHttpClient
                    .sendAsync(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofString())
                    .thenComposeAsync(
                            localVarResponse -> {
                                if (memberVarAsyncResponseInterceptor != null) {
                                    memberVarAsyncResponseInterceptor.accept(localVarResponse);
                                }
                                if (localVarResponse.statusCode() / 100 != 2) {
                                    return CompletableFuture.failedFuture(
                                            getApiException("deleteConsoleUser", localVarResponse));
                                }
                                try {
                                    String responseBody = localVarResponse.body();
                                    return CompletableFuture.completedFuture(
                                            new ApiResponse<ConsoleUser>(
                                                    localVarResponse.statusCode(),
                                                    localVarResponse.headers().map(),
                                                    responseBody == null || responseBody.isBlank()
                                                            ? null
                                                            : memberVarObjectMapper.readValue(
                                                                    responseBody,
                                                                    new TypeReference<
                                                                            ConsoleUser>() {})));
                                } catch (IOException e) {
                                    return CompletableFuture.failedFuture(new ApiException(e));
                                }
                            })
                    .handle(
                            (localVarApiResponse, localVarThrowable) ->
                                    localVarThrowable == null
                                            ? CompletableFuture.completedFuture(localVarApiResponse)
                                            : CompletableFuture
                                                    .<ApiResponse<ConsoleUser>>failedFuture(
                                                            toApiFailure(localVarThrowable)))
                    .thenCompose(localVarNormalized -> localVarNormalized);
        } catch (ApiException e) {
            return CompletableFuture.failedFuture(e);
        }
    }

    private HttpRequest.Builder deleteConsoleUserRequestBuilder(String id, Boolean force)
            throws ApiException {
        ValidationUtils.assertParamExistsAndNotEmpty("deleteConsoleUser", "id", id);

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath =
                "/management/users/{id}".replace("{id}", ApiClient.urlEncode(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<>();
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        localVarQueryParameterBaseName = "force";
        localVarQueryParams.addAll(ApiClient.parameterToPairs("force", force));

        if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
            StringJoiner queryJoiner = new StringJoiner("&");
            localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
            if (localVarQueryStringJoiner.length() != 0) {
                queryJoiner.add(localVarQueryStringJoiner.toString());
            }
            localVarRequestBuilder.uri(
                    URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
        } else {
            localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
        }

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
    /**
     * Get console users Get console users for your workspace. - Please note that this endpoint is
     * available only for API keys with Admin/Non Signing Admin permissions. Endpoint Permission:
     * Admin, Non-Signing Admin.
     *
     * @return CompletableFuture&lt;ApiResponse&lt;GetConsoleUsersResponse&gt;&gt;, which completes
     *     exceptionally with an {@link ApiException} if the API call fails
     */
    public CompletableFuture<ApiResponse<GetConsoleUsersResponse>> getConsoleUsers() {
        try {
            HttpRequest.Builder localVarRequestBuilder = getConsoleUsersRequestBuilder();
            return memberVarHttpClient
                    .sendAsync(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofString())
                    .thenComposeAsync(
                            localVarResponse -> {
                                if (memberVarAsyncResponseInterceptor != null) {
                                    memberVarAsyncResponseInterceptor.accept(localVarResponse);
                                }
                                if (localVarResponse.statusCode() / 100 != 2) {
                                    return CompletableFuture.failedFuture(
                                            getApiException("getConsoleUsers", localVarResponse));
                                }
                                try {
                                    String responseBody = localVarResponse.body();
                                    return CompletableFuture.completedFuture(
                                            new ApiResponse<GetConsoleUsersResponse>(
                                                    localVarResponse.statusCode(),
                                                    localVarResponse.headers().map(),
                                                    responseBody == null || responseBody.isBlank()
                                                            ? null
                                                            : memberVarObjectMapper.readValue(
                                                                    responseBody,
                                                                    new TypeReference<
                                                                            GetConsoleUsersResponse>() {})));
                                } catch (IOException e) {
                                    return CompletableFuture.failedFuture(new ApiException(e));
                                }
                            })
                    .handle(
                            (localVarApiResponse, localVarThrowable) ->
                                    localVarThrowable == null
                                            ? CompletableFuture.completedFuture(localVarApiResponse)
                                            : CompletableFuture
                                                    .<ApiResponse<GetConsoleUsersResponse>>
                                                            failedFuture(
                                                                    toApiFailure(
                                                                            localVarThrowable)))
                    .thenCompose(localVarNormalized -> localVarNormalized);
        } catch (ApiException e) {
            return CompletableFuture.failedFuture(e);
        }
    }

    private HttpRequest.Builder getConsoleUsersRequestBuilder() throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/management/users";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
}
