/*
 * Fireblocks API
 * Fireblocks provides a suite of applications to manage digital asset operations and a complete development platform to build your business on the blockchain.  - Visit our website for more information: [Fireblocks Website](https://fireblocks.com) - Visit our developer docs: [Fireblocks DevPortal](https://developers.fireblocks.com)
 *
 * The version of the OpenAPI document: 1.6.2
 * Contact: developers@fireblocks.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.fireblocks.sdk.api;


import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fireblocks.sdk.ApiClient;
import com.fireblocks.sdk.ApiException;
import com.fireblocks.sdk.ApiResponse;
import com.fireblocks.sdk.ValidationUtils;
import com.fireblocks.sdk.model.GetMpcKeysResponse;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.concurrent.CancellationException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import java.util.concurrent.ExecutionException;
import java.util.function.Consumer;

@jakarta.annotation.Generated(
        value = "org.openapitools.codegen.languages.JavaClientCodegen",
        comments = "Generator version: 7.14.0")
public class KeysBetaApi {
    private final HttpClient memberVarHttpClient;
    private final ObjectMapper memberVarObjectMapper;
    private final String memberVarBaseUri;
    private final Consumer<HttpRequest.Builder> memberVarInterceptor;
    private final Duration memberVarReadTimeout;
    private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
    private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

    public KeysBetaApi() {
        this(new ApiClient());
    }

    public KeysBetaApi(ApiClient apiClient) {
        memberVarHttpClient = apiClient.getHttpClient();
        memberVarObjectMapper = apiClient.getObjectMapper();
        memberVarBaseUri = apiClient.getBaseUri();
        memberVarInterceptor = apiClient.getRequestInterceptor();
        memberVarReadTimeout = apiClient.getReadTimeout();
        memberVarResponseInterceptor = apiClient.getResponseInterceptor();
        memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
    }

    private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message =
                formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(
                response.statusCode(), message, response.headers(), response.body());
    }

    /**
     * Normalizes any failure raised while performing the call into the single failure type callers
     * are told to expect. Transport-level errors surfaced by {@code HttpClient.sendAsync} -
     * connection refused, DNS failures, TLS errors, timeouts - would otherwise reach the caller as
     * a raw {@link java.io.IOException}, which makes the documented {@code (ApiException)
     * e.getCause()} throw {@link ClassCastException}.
     *
     * <p>{@link CancellationException} is passed through unchanged: a cancelled call is not an API
     * failure.
     */
    private static Throwable toApiFailure(Throwable throwable) {
        Throwable cause = throwable;
        while ((cause instanceof CompletionException || cause instanceof ExecutionException)
                && cause.getCause() != null) {
            cause = cause.getCause();
        }
        if (cause instanceof ApiException || cause instanceof CancellationException) {
            return cause;
        }
        return new ApiException(cause);
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
        if (body == null || body.isEmpty()) {
            body = "[no body]";
        }
        return operationId + " call failed with: " + statusCode + " - " + body;
    }

    /**
     * Get list of mpc keys Returns a list of MPC signing keys of the workspace. For each key, the
     * list of players associated with it is attached. **Note:** This endpoint is currently in beta
     * and might be subject to changes.
     *
     * @return CompletableFuture&lt;ApiResponse&lt;GetMpcKeysResponse&gt;&gt;, which completes
     *     exceptionally with an {@link ApiException} if the API call fails
     */
    public CompletableFuture<ApiResponse<GetMpcKeysResponse>> getMpcKeysList() {
        try {
            HttpRequest.Builder localVarRequestBuilder = getMpcKeysListRequestBuilder();
            return memberVarHttpClient
                    .sendAsync(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofString())
                    .thenComposeAsync(
                            localVarResponse -> {
                                if (memberVarAsyncResponseInterceptor != null) {
                                    memberVarAsyncResponseInterceptor.accept(localVarResponse);
                                }
                                if (localVarResponse.statusCode() / 100 != 2) {
                                    return CompletableFuture.failedFuture(
                                            getApiException("getMpcKeysList", localVarResponse));
                                }
                                try {
                                    String responseBody = localVarResponse.body();
                                    return CompletableFuture.completedFuture(
                                            new ApiResponse<GetMpcKeysResponse>(
                                                    localVarResponse.statusCode(),
                                                    localVarResponse.headers().map(),
                                                    responseBody == null || responseBody.isBlank()
                                                            ? null
                                                            : memberVarObjectMapper.readValue(
                                                                    responseBody,
                                                                    new TypeReference<
                                                                            GetMpcKeysResponse>() {})));
                                } catch (IOException e) {
                                    return CompletableFuture.failedFuture(new ApiException(e));
                                }
                            })
                    .handle(
                            (localVarApiResponse, localVarThrowable) ->
                                    localVarThrowable == null
                                            ? CompletableFuture.completedFuture(localVarApiResponse)
                                            : CompletableFuture
                                                    .<ApiResponse<GetMpcKeysResponse>>failedFuture(
                                                            toApiFailure(localVarThrowable)))
                    .thenCompose(localVarNormalized -> localVarNormalized);
        } catch (ApiException e) {
            return CompletableFuture.failedFuture(e);
        }
    }

    private HttpRequest.Builder getMpcKeysListRequestBuilder() throws ApiException {

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath = "/keys/mpc/list";

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
    /**
     * Get list of mpc keys by &#x60;userId&#x60; Returns a list of MPC signing keys of a specific
     * user. For each key, the list of players associated with it is attached. **Note:** This
     * endpoint is currently in beta and might be subject to changes.
     *
     * @param userId The id for the user (required)
     * @return CompletableFuture&lt;ApiResponse&lt;GetMpcKeysResponse&gt;&gt;, which completes
     *     exceptionally with an {@link ApiException} if the API call fails
     */
    public CompletableFuture<ApiResponse<GetMpcKeysResponse>> getMpcKeysListByUser(String userId) {
        try {
            HttpRequest.Builder localVarRequestBuilder = getMpcKeysListByUserRequestBuilder(userId);
            return memberVarHttpClient
                    .sendAsync(localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofString())
                    .thenComposeAsync(
                            localVarResponse -> {
                                if (memberVarAsyncResponseInterceptor != null) {
                                    memberVarAsyncResponseInterceptor.accept(localVarResponse);
                                }
                                if (localVarResponse.statusCode() / 100 != 2) {
                                    return CompletableFuture.failedFuture(
                                            getApiException(
                                                    "getMpcKeysListByUser", localVarResponse));
                                }
                                try {
                                    String responseBody = localVarResponse.body();
                                    return CompletableFuture.completedFuture(
                                            new ApiResponse<GetMpcKeysResponse>(
                                                    localVarResponse.statusCode(),
                                                    localVarResponse.headers().map(),
                                                    responseBody == null || responseBody.isBlank()
                                                            ? null
                                                            : memberVarObjectMapper.readValue(
                                                                    responseBody,
                                                                    new TypeReference<
                                                                            GetMpcKeysResponse>() {})));
                                } catch (IOException e) {
                                    return CompletableFuture.failedFuture(new ApiException(e));
                                }
                            })
                    .handle(
                            (localVarApiResponse, localVarThrowable) ->
                                    localVarThrowable == null
                                            ? CompletableFuture.completedFuture(localVarApiResponse)
                                            : CompletableFuture
                                                    .<ApiResponse<GetMpcKeysResponse>>failedFuture(
                                                            toApiFailure(localVarThrowable)))
                    .thenCompose(localVarNormalized -> localVarNormalized);
        } catch (ApiException e) {
            return CompletableFuture.failedFuture(e);
        }
    }

    private HttpRequest.Builder getMpcKeysListByUserRequestBuilder(String userId)
            throws ApiException {
        ValidationUtils.assertParamExistsAndNotEmpty("getMpcKeysListByUser", "userId", userId);

        HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

        String localVarPath =
                "/keys/mpc/list/{userId}"
                        .replace("{userId}", ApiClient.urlEncode(userId.toString()));

        localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

        localVarRequestBuilder.header("Accept", "application/json");

        localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
        if (memberVarReadTimeout != null) {
            localVarRequestBuilder.timeout(memberVarReadTimeout);
        }
        if (memberVarInterceptor != null) {
            memberVarInterceptor.accept(localVarRequestBuilder);
        }
        return localVarRequestBuilder;
    }
}
