openapi: 3.0.0
info:
  contact:
    email: support@fireblocks.com
  title: Fireblocks API
  version: 1.6.2
servers:
- url: https://api.fireblocks.io/v1
paths:
  /vault/accounts:
    get:
      description: Gets all vault accounts in your workspace.
      operationId: getVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVaultAccountsResponse"
          description: A list of vault accounts
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: List vault accounts
      tags:
      - Vaults
      x-internal: true
      x-rate-limit-category: query
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts()
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts:
      - application/json
    post:
      description: Creates a new vault account with the requested name.
      operationId: createVaultAccount
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVaultAccountRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultAccount"
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Create a new vault account
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI,\
            \ customer_ref_id, auto_fueling)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI,\
            \ customerRefId, autoFueling);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.createVaultAccount(vaultsApiCreateVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().createVaultAccount(createVaultAccountRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_vault_account(create_vault_account_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.createVaultAccount(vaultsApiCreateVaultAccountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().createVaultAccount(createVaultAccountRequest,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_vault_account(create_vault_account_request,\
          \ idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts_paged:
    get:
      description: Gets all vault accounts in your workspace. This endpoint returns
        a limited amount of results with a quick response time.
      operationId: getPagedVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - description: "Specifying minAmountThreshold will filter accounts with balances\
          \ greater than this value, otherwise, it will return all accounts."
        explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 500
          minimum: 1
          type: number
        style: form
      - description: List of tag IDs to filter vault accounts.
        explode: true
        in: query
        name: tagIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultAccountsPagedResponse"
          description: A VaultAccountsPagedResponse object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
      summary: List vault accounts (Paginated)
      tags:
      - Vaults
      x-rate-limit-category: query
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccountsPagedResponse>>\
            \ = fireblocks.vaults.getPagedVaultAccounts(vaultsApiGetPagedVaultAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAccountsPagedResponse>> response\
            \ = fireblocks.vaults().getPagedVaultAccounts(namePrefix, nameSuffix,\
            \ minAmountThreshold, assetId, orderBy, before, after, limit, tagIds);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_paged_vault_accounts(name_prefix,\
            \ name_suffix, min_amount_threshold, asset_id, order_by, before, after,\
            \ limit, tag_ids);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultAccountsPagedResponse>>\
          \ = fireblocks.vaults.getPagedVaultAccounts(vaultsApiGetPagedVaultAccountsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultAccountsPagedResponse>> response\
          \ = fireblocks.vaults().getPagedVaultAccounts(namePrefix, nameSuffix, minAmountThreshold,\
          \ assetId, orderBy, before, after, limit, tagIds);"
      - lang: Python
        source: "response = fireblocks.vaults.get_paged_vault_accounts(name_prefix,\
          \ name_suffix, min_amount_threshold, asset_id, order_by, before, after,\
          \ limit, tag_ids);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}:
    get:
      description: Returns the requested vault account.
      operationId: getVaultAccount
      parameters:
      - description: "The ID of the vault account to return type: string"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultAccount"
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Find a vault account by ID
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: vault_account = fireblocks.get_vault_account(vault_account_id)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.getVaultAccount(vaultsApiGetVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().getVaultAccount(vaultAccountId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.vaults.get_vault_account(vault_account_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.getVaultAccount(vaultsApiGetVaultAccountRequest);"
      - lang: Java
        source: CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().getVaultAccount(vaultAccountId);
      - lang: Python
        source: response = fireblocks.vaults.get_vault_account(vault_account_id);
      x-accepts:
      - application/json
    put:
      description: Renames the requested vault account.
      operationId: updateVaultAccount
      parameters:
      - description: The ID of the vault account to edit
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVaultAccountRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenameVaultAccountResponse"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Rename a vault account
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.update_vault_account(vault_account_id,\
            \ name)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId,\
            \ name);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<RenameVaultAccountResponse>>\
            \ = fireblocks.vaults.updateVaultAccount(vaultsApiUpdateVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<RenameVaultAccountResponse>> response\
            \ = fireblocks.vaults().updateVaultAccount(updateVaultAccountRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.update_vault_account(update_vault_account_request,\
            \ vault_account_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<RenameVaultAccountResponse>>\
          \ = fireblocks.vaults.updateVaultAccount(vaultsApiUpdateVaultAccountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<RenameVaultAccountResponse>> response\
          \ = fireblocks.vaults().updateVaultAccount(updateVaultAccountRequest, vaultAccountId,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.update_vault_account(update_vault_account_request,\
          \ vault_account_id, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/asset_wallets:
    get:
      description: |
        Gets all asset wallets at all of the vault accounts in your workspace. An asset wallet is an asset at a vault account. This method allows fast traversal of all account balances.
      operationId: getAssetWallets
      parameters:
      - description: "When specified, only asset wallets with total balance larger\
          \ than this amount are returned."
        explode: true
        in: query
        name: totalAmountLargerThan
        required: false
        schema:
          type: number
        style: form
      - description: "When specified, only asset wallets cross vault accounts that\
          \ have this asset ID are returned."
        explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Fetches the next paginated response before this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Fetches the next paginated response after this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of asset wallets in a single response. The
          default is 200 and the maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 1000
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAssetWalletResponse"
          description: A PaginatedAssetWalletResponse object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
      summary: List asset wallets (Paginated)
      tags:
      - Vaults
      x-rate-limit-category: query
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_asset_wallets(filters)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAccounts = await fireblocks.getAssetWallets(filters);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PaginatedAssetWalletResponse>>\
            \ = fireblocks.vaults.getAssetWallets(vaultsApiGetAssetWalletsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>> response\
            \ = fireblocks.vaults().getAssetWallets(totalAmountLargerThan, assetId,\
            \ orderBy, before, after, limit);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_asset_wallets(total_amount_larger_than,\
            \ asset_id, order_by, before, after, limit);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<PaginatedAssetWalletResponse>>\
          \ = fireblocks.vaults.getAssetWallets(vaultsApiGetAssetWalletsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>> response\
          \ = fireblocks.vaults().getAssetWallets(totalAmountLargerThan, assetId,\
          \ orderBy, before, after, limit);"
      - lang: Python
        source: "response = fireblocks.vaults.get_asset_wallets(total_amount_larger_than,\
          \ asset_id, order_by, before, after, limit);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/hide:
    post:
      description: Hides the requested vault account from the web console view.
      operationId: hideVaultAccount
      parameters:
      - description: The vault account to hide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Hide a vault account in the console
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.hideVaultAccount(vaultsApiHideVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().hideVaultAccount(vaultAccountId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.hide_vault_account(vault_account_id,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.hideVaultAccount(vaultsApiHideVaultAccountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().hideVaultAccount(vaultAccountId,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.hide_vault_account(vault_account_id,\
          \ idempotency_key);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/unhide:
    post:
      description: Makes a hidden vault account visible in web console view.
      operationId: unhideVaultAccount
      parameters:
      - description: The vault account to unhide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Unhide a vault account in the console
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.unhideVaultAccount(vaultsApiUnhideVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().unhideVaultAccount(vaultAccountId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.unhide_vault_account(vault_account_id,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.unhideVaultAccount(vaultsApiUnhideVaultAccountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().unhideVaultAccount(vaultAccountId,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.unhide_vault_account(vault_account_id,\
          \ idempotency_key);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/activate:
    post:
      description: Initiates activation for a wallet in a vault account.
      operationId: activateAssetForVaultAccount
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVaultAssetResponse"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Activate a wallet in a vault account
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
            \ = fireblocks.vaults.activateAssetForVaultAccount(vaultsApiActivateAssetForVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
            \ = fireblocks.vaults().activateAssetForVaultAccount(vaultAccountId, assetId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.activate_asset_for_vault_account(vault_account_id,\
            \ asset_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
          \ = fireblocks.vaults.activateAssetForVaultAccount(vaultsApiActivateAssetForVaultAccountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
          \ = fireblocks.vaults().activateAssetForVaultAccount(vaultAccountId, assetId,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.activate_asset_for_vault_account(vault_account_id,\
          \ asset_id, idempotency_key);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/set_customer_ref_id:
    post:
      description: Assigns an AML/KYT customer reference ID for the vault account.
      operationId: setVaultAccountCustomerRefId
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCustomerRefIdRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Set an AML/KYT customer reference ID for a vault account
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id,\
            \ customer_ref_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId,\
            \ customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setVaultAccountCustomerRefId(vaultsApiSetVaultAccountCustomerRefIdRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountCustomerRefId(setCustomerRefIdRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.set_vault_account_customer_ref_id(set_customer_ref_id_request,\
            \ vault_account_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.setVaultAccountCustomerRefId(vaultsApiSetVaultAccountCustomerRefIdRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountCustomerRefId(setCustomerRefIdRequest,\
          \ vaultAccountId, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.set_vault_account_customer_ref_id(set_customer_ref_id_request,\
          \ vault_account_id, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/set_auto_fuel:
    post:
      description: Sets the autofueling property of the vault account to enabled or
        disabled.
      operationId: setVaultAccountAutoFuel
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetAutoFuelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Turn autofueling on or off
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setVaultAccountAutoFuel(vaultsApiSetVaultAccountAutoFuelRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountAutoFuel(setAutoFuelRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.set_vault_account_auto_fuel(set_auto_fuel_request,\
            \ vault_account_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.setVaultAccountAutoFuel(vaultsApiSetVaultAccountAutoFuelRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountAutoFuel(setAutoFuelRequest,\
          \ vaultAccountId, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.set_vault_account_auto_fuel(set_auto_fuel_request,\
          \ vault_account_id, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}:
    get:
      description: Returns a wallet for a specific asset of a vault account.
      operationId: getVaultAccountAsset
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultAsset"
          description: A VaultAsset object
        default:
          $ref: "#/components/responses/Error"
      summary: Get the asset balance for a vault account
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultAccountAsset(vaultsApiGetVaultAccountAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultAccountAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_vault_account_asset(vault_account_id,\
            \ asset_id);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultAccountAsset(vaultsApiGetVaultAccountAssetRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultAccountAsset(vaultAccountId,\
          \ assetId);"
      - lang: Python
        source: "response = fireblocks.vaults.get_vault_account_asset(vault_account_id,\
          \ asset_id);"
      x-accepts:
      - application/json
    post:
      description: Creates a wallet for a specific asset in a vault account.
      operationId: createVaultAccountAsset
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetsRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVaultAssetResponse"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Create a new wallet
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
            \ = fireblocks.vaults.createVaultAccountAsset(vaultsApiCreateVaultAccountAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
            \ = fireblocks.vaults().createVaultAccountAsset(vaultAccountId, assetId,\
            \ createAssetsRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_vault_account_asset(vault_account_id,\
            \ asset_id, create_assets_request, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
          \ = fireblocks.vaults.createVaultAccountAsset(vaultsApiCreateVaultAccountAssetRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
          \ = fireblocks.vaults().createVaultAccountAsset(vaultAccountId, assetId,\
          \ createAssetsRequest, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_vault_account_asset(vault_account_id,\
          \ asset_id, create_assets_request, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/balance:
    post:
      description: Updates the balance of a specific asset in a vault account.
      operationId: updateVaultAccountAssetBalance
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultAsset"
          description: A VaultAsset object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Refresh asset balance data
      tags:
      - Vaults
      x-rate-limit-category: async
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.updateVaultAccountAssetBalance(vaultsApiUpdateVaultAccountAssetBalanceRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().updateVaultAccountAssetBalance(vaultAccountId,\
            \ assetId, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.update_vault_account_asset_balance(vault_account_id,\
            \ asset_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.updateVaultAccountAssetBalance(vaultsApiUpdateVaultAccountAssetBalanceRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().updateVaultAccountAssetBalance(vaultAccountId,\
          \ assetId, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.update_vault_account_asset_balance(vault_account_id,\
          \ asset_id, idempotency_key);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses:
    get:
      description: |-
        Lists all addresses for specific asset of vault account.
        - This endpoint will be deprecated on Mar 31,2024.
        - If your application logic or scripts rely on the deprecated endpoint, you should update to account for GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated before Mar 31,2024.
        - All workspaces created after Mar 31,2024. will have it disabled. If it is disabled for your workspace and you attempt to use it, you will receive the following error message: "This endpoint is unavailable.
        - Please use the GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated endpoint to return all the wallet addresses associated with the specified vault account and asset in a paginated list.
        - This API call is subject to rate limits.
      operationId: getVaultAccountAssetAddresses
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVaultAccountAssetAddressesResponse"
          description: A list of deposit addresses
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get asset addresses
      tags:
      - Vaults
      x-internal: true
      x-rate-limit-category: query
      x-readme:
        code-samples:
        - language: python
          code: "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts:
      - application/json
    post:
      description: Creates a new deposit address for an asset of a vault account.
      operationId: createVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAddressRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAddressResponse"
          description: The created address
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Create new asset deposit address
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.generate_new_address(vault_account_id, asset_id,\
            \ description, customer_ref_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const address = await fireblocks.generateNewAddress(vaultAccountId,\
            \ assetId, description, customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
            \ = fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
            \ fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId, assetId,\
            \ createAddressRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_vault_account_asset_address(vault_account_id,\
            \ asset_id, create_address_request, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
          \ = fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
          \ fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId, assetId,\
          \ createAddressRequest, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_vault_account_asset_address(vault_account_id,\
          \ asset_id, create_address_request, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated:
    get:
      description: Returns a paginated response of the addresses for a given vault
        account and asset.
      operationId: getVaultAccountAssetAddressesPaginated
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAddressResponse"
          description: "A paginated list of addresses, and pagination info."
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: List addresses (Paginated)
      tags:
      - Vaults
      x-rate-limit-category: query
      x-readme:
        code-samples:
        - language: python
          code: "addresses = vault_accounts = fireblocks.get_paginated_addresses(\"\
            0\",\"ETH_TEST3\")"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const addresses = await fireblocks.getPaginatedAddresses(\"0\",\"\
            ETH_TEST3\");"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PaginatedAddressResponse>>\
            \ = fireblocks.vaults.getVaultAccountAssetAddressesPaginated(vaultsApiGetVaultAccountAssetAddressesPaginatedRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PaginatedAddressResponse>> response\
            \ = fireblocks.vaults().getVaultAccountAssetAddressesPaginated(vaultAccountId,\
            \ assetId, limit, before, after);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_vault_account_asset_addresses_paginated(vault_account_id,\
            \ asset_id, limit, before, after);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<PaginatedAddressResponse>>\
          \ = fireblocks.vaults.getVaultAccountAssetAddressesPaginated(vaultsApiGetVaultAccountAssetAddressesPaginatedRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<PaginatedAddressResponse>> response\
          \ = fireblocks.vaults().getVaultAccountAssetAddressesPaginated(vaultAccountId,\
          \ assetId, limit, before, after);"
      - lang: Python
        source: "response = fireblocks.vaults.get_vault_account_asset_addresses_paginated(vault_account_id,\
          \ asset_id, limit, before, after);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount:
    get:
      description: "Get the maximum amount of a particular asset that can be spent\
        \ in a single transaction from a specified vault account (UTXO assets only,\
        \ with a limitation on number of inputs embedded). Send several transactions\
        \ if you want to spend more than the maximum spendable amount."
      operationId: getMaxSpendableAmount
      parameters:
      - description: "The ID of the vault account, or 'default' for the default vault\
          \ account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: False by default. The maximum number of inputs depends if the
          transaction will be signed by an automated co-signer server or on a mobile
          device.
        explode: true
        in: query
        name: manualSignging
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMaxSpendableAmountResponse"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get the maximum spendable amount in a single transaction.
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetMaxSpendableAmountResponse>>\
            \ = fireblocks.vaults.getMaxSpendableAmount(vaultsApiGetMaxSpendableAmountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>> response\
            \ = fireblocks.vaults().getMaxSpendableAmount(vaultAccountId, assetId,\
            \ manualSignging);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_max_spendable_amount(vault_account_id,\
            \ asset_id, manual_signging);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<GetMaxSpendableAmountResponse>>\
          \ = fireblocks.vaults.getMaxSpendableAmount(vaultsApiGetMaxSpendableAmountRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>> response\
          \ = fireblocks.vaults().getMaxSpendableAmount(vaultAccountId, assetId, manualSignging);"
      - lang: Python
        source: "response = fireblocks.vaults.get_max_spendable_amount(vault_account_id,\
          \ asset_id, manual_signging);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}:
    put:
      description: Updates the description of an existing address of an asset in a
        vault account.
      operationId: updateVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVaultAccountAssetAddressRequest"
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Update address description
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.updateVaultAccountAssetAddress(vaultsApiUpdateVaultAccountAssetAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().updateVaultAccountAssetAddress(vaultAccountId,\
            \ assetId, addressId, updateVaultAccountAssetAddressRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.update_vault_account_asset_address(vault_account_id,\
            \ asset_id, address_id, update_vault_account_asset_address_request, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.updateVaultAccountAssetAddress(vaultsApiUpdateVaultAccountAssetAddressRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().updateVaultAccountAssetAddress(vaultAccountId,\
          \ assetId, addressId, updateVaultAccountAssetAddressRequest, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.update_vault_account_asset_address(vault_account_id,\
          \ asset_id, address_id, update_vault_account_asset_address_request, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id:
    post:
      description: Sets an AML/KYT customer reference ID for a specific address.
      operationId: setCustomerRefIdForAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCustomerRefIdForAddressRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultActionStatus"
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Assign AML customer reference ID
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id,\
            \ asset_id, address_id, customer_ref_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId,\
            \ assetId, addressId, customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setCustomerRefIdForAddress(vaultsApiSetCustomerRefIdForAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest,\
            \ vaultAccountId, assetId, addressId, idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.set_customer_ref_id_for_address(set_customer_ref_id_for_address_request,\
            \ vault_account_id, asset_id, address_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
          \ fireblocks.vaults.setCustomerRefIdForAddress(vaultsApiSetCustomerRefIdForAddressRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest,\
          \ vaultAccountId, assetId, addressId, idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.set_customer_ref_id_for_address(set_customer_ref_id_for_address_request,\
          \ vault_account_id, asset_id, address_id, idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy:
    post:
      description: Converts an existing segwit address to the legacy format.
      operationId: createLegacyAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: The segwit address to translate
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAddressResponse"
          description: The created address
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Convert a segwit address to legacy format
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
            \ = fireblocks.vaults.createLegacyAddress(vaultsApiCreateLegacyAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
            \ fireblocks.vaults().createLegacyAddress(vaultAccountId, assetId, addressId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_legacy_address(vault_account_id,\
            \ asset_id, address_id, idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
          \ = fireblocks.vaults.createLegacyAddress(vaultsApiCreateLegacyAddressRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
          \ fireblocks.vaults().createLegacyAddress(vaultAccountId, assetId, addressId,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_legacy_address(vault_account_id,\
          \ asset_id, address_id, idempotency_key);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs:
    get:
      description: Returns unspent inputs information of an asset in a vault account.
      operationId: getUnspentInputs
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUnspentInputsResponse"
          description: List of Unspent information per input
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get UTXO unspent inputs information
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetUnspentInputsResponse>>\
            \ = fireblocks.vaults.getUnspentInputs(vaultsApiGetUnspentInputsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<List<UnspentInputsResponse>>> response\
            \ = fireblocks.vaults().getUnspentInputs(vaultAccountId, assetId);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_unspent_inputs(vault_account_id,\
            \ asset_id);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<GetUnspentInputsResponse>>\
          \ = fireblocks.vaults.getUnspentInputs(vaultsApiGetUnspentInputsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<List<UnspentInputsResponse>>> response\
          \ = fireblocks.vaults().getUnspentInputs(vaultAccountId, assetId);"
      - lang: Python
        source: "response = fireblocks.vaults.get_unspent_inputs(vault_account_id,\
          \ asset_id);"
      x-accepts:
      - application/json
  /vault/accounts/bulk:
    post:
      description: |
        Create multiple vault accounts by running an async job. </br>
        **Note**:
        - These endpoints are currently in beta and might be subject to changes.
        - We limit accounts to 10k per operation and 200k per customer during beta testing.
        Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor.
      operationId: createMultipleAccounts
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMultipleAccountsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobCreated"
          description: A JobCreated object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Bulk creation of new vault accounts
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleAccounts(vaultsApiCreateMultipleAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleAccounts(createMultipleAccountsRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_multiple_accounts(create_multiple_accounts_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleAccounts(vaultsApiCreateMultipleAccountsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleAccounts(createMultipleAccountsRequest,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_multiple_accounts(create_multiple_accounts_request,\
          \ idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/bulk/{jobId}:
    get:
      description: |
        Returns the status of bulk creation of new vault accounts job and the result or error
        Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.
      operationId: getCreateMultipleVaultAccountsJobStatus
      parameters:
      - description: The ID of the job to create addresses
        example: 019681b4-107d-7243-942d-4c3c30e36fae
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMultipleVaultAccountsJobStatus"
          description: A Job with status
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get job status of bulk creation of new vault accounts
      tags:
      - Vaults
      x-rate-limit-category: async
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateMultipleVaultAccountsJobStatus>>\
            \ = fireblocks.vaults.getCreateMultipleVaultAccountsJobStatus(vaultsApiGetCreateMultipleVaultAccountsJobStatusRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<CreateMultipleVaultAccountsJobStatus>>
            response = fireblocks.vaults().getCreateMultipleVaultAccountsJobStatus(jobId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.vaults.get_create_multiple_vault_accounts_job_status(job_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateMultipleVaultAccountsJobStatus>>\
          \ = fireblocks.vaults.getCreateMultipleVaultAccountsJobStatus(vaultsApiGetCreateMultipleVaultAccountsJobStatusRequest);"
      - lang: Java
        source: CompletableFuture<ApiResponse<CreateMultipleVaultAccountsJobStatus>>
          response = fireblocks.vaults().getCreateMultipleVaultAccountsJobStatus(jobId);
      - lang: Python
        source: response = fireblocks.vaults.get_create_multiple_vault_accounts_job_status(job_id);
      x-accepts:
      - application/json
  /vault/accounts/addresses/bulk:
    post:
      description: |
        Create multiple deposit address by running an async job. </br>
        **Note**:
        - We limit accounts to 10k per operation.
        Endpoint Permission: Admin, Non-Signing Admin.
      operationId: createMultipleDepositAddresses
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMultipleDepositAddressesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobCreated"
          description: A JobCreated object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Bulk creation of new deposit addresses
      tags:
      - Vaults
      x-rate-limit-category: async
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleDepositAddresses(vaultsApiCreateMultipleDepositAddressesRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleDepositAddresses(createMultipleDepositAddressesRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.create_multiple_deposit_addresses(create_multiple_deposit_addresses_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleDepositAddresses(vaultsApiCreateMultipleDepositAddressesRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleDepositAddresses(createMultipleDepositAddressesRequest,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.create_multiple_deposit_addresses(create_multiple_deposit_addresses_request,\
          \ idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/attached_tags/attach:
    post:
      description: Attach one or more tags to the requested vault accounts.
      operationId: attachTagsToVaultAccounts
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultAccountsTagAttachmentsRequest"
        required: true
      responses:
        "204":
          description: Tags were attached successfully
      summary: Attach tags to a vault accounts
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.attachTagsToVaultAccounts(vaultsApiAttachTagsToVaultAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().attachTagsToVaultAccounts(vaultAccountsTagAttachmentsRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.attach_tags_to_vault_accounts(vault_accounts_tag_attachments_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.attachTagsToVaultAccounts(vaultsApiAttachTagsToVaultAccountsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().attachTagsToVaultAccounts(vaultAccountsTagAttachmentsRequest,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.attach_tags_to_vault_accounts(vault_accounts_tag_attachments_request,\
          \ idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/attached_tags/detach:
    post:
      description: Detach one or more tags from the requested vault account.
      operationId: detachTagsFromVaultAccounts
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultAccountsTagAttachmentsRequest"
        required: true
      responses:
        "204":
          description: Tags were detached successfully
      summary: Detach tags from a vault accounts
      tags:
      - Vaults
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.detachTagsFromVaultAccounts(vaultsApiDetachTagsFromVaultAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().detachTagsFromVaultAccounts(vaultAccountsTagAttachmentsRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.detach_tags_from_vault_accounts(vault_accounts_tag_attachments_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<void>> = fireblocks.vaults.detachTagsFromVaultAccounts(vaultsApiDetachTagsFromVaultAccountsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<Void>> response = fireblocks.vaults().detachTagsFromVaultAccounts(vaultAccountsTagAttachmentsRequest,\
          \ idempotencyKey);"
      - lang: Python
        source: "response = fireblocks.vaults.detach_tags_from_vault_accounts(vault_accounts_tag_attachments_request,\
          \ idempotency_key);"
      x-content-type: application/json
      x-accepts:
      - application/json
  /vault/accounts/addresses/bulk/{jobId}:
    get:
      description: |
        Returns the status of bulk creation of new deposit addresses job and the result or error
        Endpoint Permission: Admin, Non-Signing Admin, Signer, Approver, Editor, Viewer.
      operationId: getCreateMultipleDepositAddressesJobStatus
      parameters:
      - description: The ID of the job to create addresses
        example: 019681b4-107d-7243-942d-4c3c30e36fae
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMultipleDepositAddressesJobStatus"
          description: A Job with status
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get job status of bulk creation of new deposit addresses
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateMultipleDepositAddressesJobStatus>>\
            \ = fireblocks.vaults.getCreateMultipleDepositAddressesJobStatus(vaultsApiGetCreateMultipleDepositAddressesJobStatusRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<CreateMultipleDepositAddressesJobStatus>>
            response = fireblocks.vaults().getCreateMultipleDepositAddressesJobStatus(jobId);
          name: Fireblocks SDK Java example
        - language: python
          code: response = fireblocks.vaults.get_create_multiple_deposit_addresses_job_status(job_id);
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<CreateMultipleDepositAddressesJobStatus>>\
          \ = fireblocks.vaults.getCreateMultipleDepositAddressesJobStatus(vaultsApiGetCreateMultipleDepositAddressesJobStatusRequest);"
      - lang: Java
        source: CompletableFuture<ApiResponse<CreateMultipleDepositAddressesJobStatus>>
          response = fireblocks.vaults().getCreateMultipleDepositAddressesJobStatus(jobId);
      - lang: Python
        source: response = fireblocks.vaults.get_create_multiple_deposit_addresses_job_status(job_id);
      x-accepts:
      - application/json
  /vault/public_key_info:
    get:
      description: Gets the public key information based on derivation path and signing
        algorithm.
      operationId: getPublicKeyInfo
      parameters:
      - explode: true
        in: query
        name: derivationPath
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: algorithm
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyInformation"
          description: Public key information
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get the public key information
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path,\
            \ compressed)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
            \ = fireblocks.vaults.getPublicKeyInfo(vaultsApiGetPublicKeyInfoRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfo(derivationPath,\
            \ algorithm, compressed);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_public_key_info(derivation_path,\
            \ algorithm, compressed);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
          \ = fireblocks.vaults.getPublicKeyInfo(vaultsApiGetPublicKeyInfoRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfo(derivationPath,\
          \ algorithm, compressed);"
      - lang: Python
        source: "response = fireblocks.vaults.get_public_key_info(derivation_path,\
          \ algorithm, compressed);"
      x-accepts:
      - application/json
  /vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info:
    get:
      description: Gets the public key information for the vault account.
      operationId: getPublicKeyInfoForAddress
      parameters:
      - explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - explode: false
        in: path
        name: change
        required: true
        schema:
          type: number
        style: simple
      - explode: false
        in: path
        name: addressIndex
        required: true
        schema:
          type: number
        style: simple
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyInformation"
          description: Public Key Information
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get the public key for a vault account
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id,\
            \ vault_account_id, change, address_index, compressed)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
            \ = fireblocks.vaults.getPublicKeyInfoForAddress(vaultsApiGetPublicKeyInfoForAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfoForAddress(vaultAccountId,\
            \ assetId, change, addressIndex, compressed);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_public_key_info_for_address(vault_account_id,\
            \ asset_id, change, address_index, compressed);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
          \ = fireblocks.vaults.getPublicKeyInfoForAddress(vaultsApiGetPublicKeyInfoForAddressRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfoForAddress(vaultAccountId,\
          \ assetId, change, addressIndex, compressed);"
      - lang: Python
        source: "response = fireblocks.vaults.get_public_key_info_for_address(vault_account_id,\
          \ asset_id, change, address_index, compressed);"
      x-accepts:
      - application/json
  /vault/assets:
    get:
      description: Gets the assets amount summary for all accounts or filtered accounts.
      operationId: getVaultAssets
      parameters:
      - explode: true
        in: query
        name: accountNamePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountNameSuffix
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVaultAssetsResponse"
          description: Amount by asset
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Get asset balance for chosen assets
      tags:
      - Vaults
      x-rate-limit-category: read
      x-readme:
        code-samples:
        - language: python
          code: "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix,\
            \ account_name_suffix)"
          name: Fireblocks SDK Python example (Legacy)
        - language: javascript
          code: "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix,\
            \ accountNameSuffix);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetVaultAssetsResponse>>\
            \ = fireblocks.vaults.getVaultAssets(vaultsApiGetVaultAssetsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<List<VaultAsset>>> response = fireblocks.vaults().getVaultAssets(accountNamePrefix,\
            \ accountNameSuffix);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.vaults.get_vault_assets(account_name_prefix,\
            \ account_name_suffix);"
          name: Fireblocks SDK Python example
      x-codeSamples:
      - lang: TypeScript
        source: "const response: Promise<FireblocksResponse<GetVaultAssetsResponse>>\
          \ = fireblocks.vaults.getVaultAssets(vaultsApiGetVaultAssetsRequest);"
      - lang: Java
        source: "CompletableFuture<ApiResponse<List<VaultAsset>>> response = fireblocks.vaults().getVaultAssets(accountNamePrefix,\
          \ accountNameSuffix);"
      - lang: Python
        source: "response = fireblocks.vaults.get_vault_assets(account_name_prefix,\
          \ account_name_suffix);"
      x-accepts:
      - application/json
  /vault/assets/bulk:
    post:
      description: |
        Create multiple wallets for a given vault account by running an async job. </br>
        **Note**:
        - These endpoints are currently in beta and might be subject to changes.
        - We limit accounts to 10k per operation and 200k per customer during beta testing.
        - Currently, we are only supporting EVM wallets.
      operationId: createAssetsBulk
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetsBulkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobCreated"
          description: A JobCreated object
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
      summary: Bulk creation of wallets
      tags:
      - Assets
      x-rate-limit-category: write
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.assets.createAssetsBulk(assetsApiCreateAssetsBulkRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.assets().createAssetsBulk(createAssetsBulkRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
        - language: python
          code: "response = fireblocks.assets.create_assets_bulk(create_assets_bulk_request,\
            \ idempotency_key);"
          name: Fireblocks SDK Python example
      x-codeSamples:
[...]
