openapi: 3.0.0
info:
  contact:
    email: support@fireblocks.com
  title: Fireblocks API
  version: 1.6.2
servers:
- url: https://api.fireblocks.io/v1
paths:
  /vault/accounts:
    get:
      description: Gets all vault accounts in your workspace.
      operationId: getVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: maxBip44AddressIndexUsed
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: maxBip44ChangeAddressIndexUsed
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/VaultAccount'
                type: array
          description: A list of vault accounts
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List vault accounts
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Creates a new vault account with the requested name.
      operationId: createVaultAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultAccountRequest'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAccount'
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create a new vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI,\
            \ customer_ref_id, auto_fueling)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI,\
            \ customerRefId, autoFueling);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts_paged:
    get:
      description: Gets all vault accounts in your workspace. This endpoint returns
        a limited amount of results with a quick response time.
      operationId: getPagedVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: maxBip44AddressIndexUsed
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: maxBip44ChangeAddressIndexUsed
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 500
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAccountsPagedResponse'
          description: A VaultAccountsPagedResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List vault acounts (Paginated)
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);
          name: Fireblocks SDK Javascript example
      x-accepts: '*/*'
  /vault/accounts/{vaultAccountId}:
    get:
      description: Returns the requested vault account.
      operationId: getVaultAccountById
      parameters:
      - description: "The ID of the vault account to return type: string"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAccount'
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a vault account by ID
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_account = fireblocks.get_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    put:
      description: Renames the requested vault account.
      operationId: updateVaultAccount
      parameters:
      - description: The ID of the vault account to edit
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateVaultAccount_request'
        required: true
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Rename a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.update_vault_account(vault_account_id,\
            \ name)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId,\
            \ name);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/asset_wallets:
    get:
      description: |
        Gets all asset wallets at all of the vault accounts in your workspace. An asset wallet is an asset at a vault account. This method allows fast traversal of all account balances.
        **Note:**
          - This API endpoint is in limited availability and available for selected customers. If you would like to get early access to this endpoint, please reach out to [Fireblocks Support](https://support.fireblocks.io/hc/en-us/requests/new?ticket_form_id=36000337220)
          - This API call is subject to [rate limits](https://developers.fireblocks.com/reference/rate-limiting).
      operationId: getAssetWallets
      parameters:
      - description: "When specified, only asset wallets with total balance larger\
          \ than this amount are returned."
        explode: true
        in: query
        name: totalAmountLargerThan
        required: false
        schema:
          type: number
        style: form
      - description: "When specified, only asset wallets cross vault accounts that\
          \ have this asset ID are returned."
        explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - description: Fetches the next paginated response before this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Fetches the next paginated response after this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of asset wallets in a single response. The
          default is 200 and the maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 1000
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginatedAssetWalletResponse'
          description: A PaginatedAssetWalletResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List asset wallets (Paginated)
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_asset_wallets(filters)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getAssetWallets(filters);
          name: Fireblocks SDK Javascript example
      x-accepts: '*/*'
  /vault/accounts/{vaultAccountId}/hide:
    post:
      description: Hides the requested vault account from the web console view.
      operationId: hideVaultAccount
      parameters:
      - description: The vault account to hide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          minimum: 1
          type: string
          x-fb-entity: vault_account
        style: simple
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Hide a vault account in the console
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/unhide:
    post:
      description: Makes a hidden vault account visible in web console view.
      operationId: unhideVaultAccount
      parameters:
      - description: The vault account to unhide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          minimum: 1
          type: string
          x-fb-entity: vault_account
        style: simple
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Unhide a vault account in the console
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/activate:
    post:
      description: Initiates activation for a wallet in a vault account.
      operationId: activateAssetForVaultAccount
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Activate a wallet in a vault account
      tags:
      - Vaults
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/set_customer_ref_id:
    post:
      description: Assigns an AML/KYT customer reference ID for the vault account.
      operationId: setCustomerRefIdForVaultAccount
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          minimum: 1
          type: string
          x-fb-entity: vault_account
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCustomerRefIdForVaultAccount_request'
        required: true
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Set an AML/KYT customer reference ID for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id,\
            \ customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId,\
            \ customerRefId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/set_auto_fuel:
    post:
      description: Sets the autofueling property of the vault account to enabled or
        disabled.
      operationId: setAutoFuelForVaultAccount
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          minimum: 1
          type: string
          x-fb-entity: vault_account
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setAutoFuelForVaultAccount_request'
        required: true
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Turn autofueling on or off
      tags:
      - Vaults
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}:
    get:
      description: Returns a wallet for a specific asset of a vault account.
      operationId: getVaultAccountAsset
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: A VaultAsset object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the asset balance for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Creates a wallet for a specific asset in a vault account.
      operationId: createVaultAccountAsset
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createVaultAccountAsset_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create a new wallet
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/balance:
    post:
      description: Updates the balance of a specific asset in a vault account.
      operationId: updateVaultAccountAssetBalance
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              type: object
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: A VaultAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Refresh asset balance data
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-content-type: '*/*'
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses:
    get:
      description: Lists all addresses for specific asset of vault account.
      operationId: getVaultAccountAssetAddresses
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/VaultWalletAddress'
                type: array
          description: A list of deposit addresses
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get asset addresses
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Creates a new deposit address for an asset of a vault account.
      operationId: createVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createVaultAccountAssetAddress_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create new asset deposit address
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.generate_new_address(vault_account_id, asset_id,\
            \ description, customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.generateNewAddress(vaultAccountId,\
            \ assetId, description, customerRefId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount:
    get:
      description: "Get the maximum amount of a particular asset that can be spent\
        \ in a single transaction from a specified vault account (UTXO assets only,\
        \ with a limitation on number of inputs embedded). Send several transactions\
        \ if you want to spend more than the maximum spendable amount."
      operationId: getMaxSpendableAmount
      parameters:
      - description: "The ID of the vault account, or 'default' for the default vault\
          \ account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: False by default. The maximum number of inputs depends if the
          transaction will be signed by an automated co-signer server or on a mobile
          device.
        explode: true
        in: query
        name: manualSignging
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the maximum spendable amount in a single transaction.
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}:
    put:
      description: Updates the description of an existing address of an asset in a
        vault account.
      operationId: updateVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateVaultAccountAssetAddress_request'
        required: false
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update address description
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id:
    post:
      description: Sets an AML/KYT customer reference ID for a specific address.
      operationId: setCustomerRefIdForVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCustomerRefIdForVaultAccount_request'
        required: true
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Assign AML customer reference ID
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id,\
            \ asset_id, address_id, customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId,\
            \ assetId, addressId, customerRefId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy:
    post:
      description: Converts an existing segwit address to the legacy format.
      operationId: createLegacyAddressForVaultAccountAsset
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: The segwit address to translate
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Convert a segwit address to legacy format
      tags:
      - Vaults
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs:
    get:
      description: Returns unspent inputs information of an asset in a vault account.
      operationId: getVaultAccountAssetUnspentInputs
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/UnspentInputsResponse'
                type: array
          description: List of Unspent information per input
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get UTXO unspent inputs information
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/public_key_info/:
    get:
      description: Gets the public key information based on derivation path and signing
        algorithm.
      operationId: getPublicKeyInfo
      parameters:
      - explode: true
        in: query
        name: derivationPath
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: algorithm
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
          description: Public key information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the public key information
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path,\
            \ compressed)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info:
    get:
      description: Gets the public key information for the vault account.
      operationId: getPublicKeyInfoForAddress
      parameters:
      - explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - explode: false
        in: path
        name: change
        required: true
        schema:
          type: number
        style: simple
      - explode: false
        in: path
        name: addressIndex
        required: true
        schema:
          type: number
        style: simple
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
          description: Public Key Information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the public key for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info_for_vault_account(vault_account_id,\
            \ asset_id, change, address_index, compressed)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/assets:
    get:
      description: Gets the assets amount summary for all accounts or filtered accounts.
      operationId: getVaultAssets
      parameters:
      - explode: true
        in: query
        name: accountNamePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountNameSuffix
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/VaultAsset'
                type: array
          description: Amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get asset balance for chosen assets
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix,\
            \ account_name_suffix)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix,\
            \ accountNameSuffix);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /vault/assets/{assetId}:
    get:
      description: Gets the vault balance summary for an asset.
      operationId: getVaultAssetById
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: Vault amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get vault balance by asset
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /exchange_accounts:
    get:
      description: Returns all exchange accounts.
      operationId: getExchangeAccounts
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeAccount'
                type: array
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List exchange accounts
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: python
          code: exchangeAccounts = fireblocks.get_exchange_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const exchangeAccounts = await fireblocks.getExchangeAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}:
    get:
      description: Returns an exchange account by ID.
      operationId: getExchangeAccountById
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExchangeAccount'
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a specific exchange account
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: python
          code: exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/internal_transfer:
    post:
      description: Transfers funds between trading accounts under the same exchange
        account.
      operationId: internalTransfer
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTransferRequest'
      responses:
        "201":
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Internal transfer for exchange accounts
      tags:
      - Exchange accounts
      x-content-type: application/json
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/convert:
    post:
      description: Convert assets within an exchange account
      operationId: convertAssets
      parameters:
      - description: "The ID of the exchange account. Please make sure the exchange\
          \ supports conversions. To find the ID of your exchange account, use GET/exchange_accounts."
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertExchangeAccountRequest'
      responses:
        "200":
          description: Conversion successful
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: "Convert exchange account funds from the source asset to the destination\
        \ asset. Coinbase (USD to USDC, USDC to USD) and Bitso (MXN to USD) are supported\
        \ conversions."
      tags:
      - Exchange accounts
      x-content-type: application/json
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/{assetId}:
    get:
      description: Returns an asset for an exchange account.
      operationId: getExchangeAccountAsset
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      - description: The ID of the asset to return
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExchangeAsset'
          description: An ExchangeAccountAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find an asset for an exchange account
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: python
          code: "exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId,\
            \ assetId)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /fiat_accounts:
    get:
      description: Returns all fiat accounts.
      operationId: getFiatAccounts
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/FiatAccount'
                type: array
          description: A fiat account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List fiat accounts
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: transactions = fireblocks.get_fiat_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const transactions = await fireblocks.getFiatAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /fiat_accounts/{accountId}:
    get:
      description: Returns a fiat account by ID.
      operationId: getFiatAccountById
      parameters:
      - description: The ID of the fiat account to return
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FiatAccount'
          description: A fiat account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a specific fiat account
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: transactions = fireblocks.get_fiat_account_by_id(account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const transactions = await fireblocks.getFiatAccountById(accountId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /fiat_accounts/{accountId}/redeem_to_linked_dda:
    post:
      description: Redeems funds to the linked DDA.
      operationId: redeemFundsToLinkedDDA
      parameters:
      - description: The ID of the fiat account to use
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/redeemFundsToLinkedDDA_request'
      responses:
        "201":
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Redeem funds to DDA
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: "transactions = fireblocks.redeem_to_linked_dda(account_id, amount)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const transactions = await fireblocks.redeemToLinkedDDA(accountId,\
            \ amount);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /fiat_accounts/{accountId}/deposit_from_linked_dda:
    post:
      description: Deposits funds from the linked DDA.
      operationId: depositFundsFromLinkedDDA
      parameters:
      - description: The ID of the fiat account to use
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/redeemFundsToLinkedDDA_request'
      responses:
        "201":
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Deposit funds from DDA
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: "transactions = fireblocks.deposit_from_linked_dda(account_id, amount)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const transactions = await fireblocks.depositFromLinkedDDA(accountId,\
            \ amount);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /network_connections:
    get:
      description: |
        Returns all network connections.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: getNetworkConnections
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/NetworkConnectionResponse'
                type: array
          description: A list of network connections
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List network connections
      tags:
      - Network connections
      x-readme:
        code-samples:
        - language: python
          code: network_connections = fireblocks.get_network_connections()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const networkConnections = await fireblocks.getNetworkConnections();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: |
        Initiates a new network connection.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: createNetworkConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkConnection'
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NetworkConnectionResponse'
          description: A Network Connection object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Creates a new network connection
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /network_connections/{connectionId}/set_routing_policy:
    patch:
      description: |
        Updates an existing network connection's routing policy.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: setRoutingPolicyForNetworkConnection
      parameters:
      - description: The ID of the network connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_request'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update network connection routing policy.
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /network_connections/{connectionId}/is_third_party_routing/{assetType}:
    get:
      description: The Fireblocks Network allows for flexibility around incoming deposits.
        A receiver can receive network deposits to locations other than Fireblocks.
        This endpoint validates whether future transactions are routed to the displayed
        recipient or to a 3rd party.
      operationId: checkThirdPartyRoutingForNetworkConnection
      parameters:
      - description: The ID of the network connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      - description: The destination asset type
        explode: false
        in: path
        name: assetType
        required: true
        schema:
          enum:
          - CRYPTO
          - SIGNET
          - SEN
          - SIGNET_TEST
          - SEN_TEST
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/checkThirdPartyRoutingForNetworkConnection_200_response'
          description: result for the validation
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Retrieve third-party network routing validation by asset type.
      tags:
      - Network connections
      x-accepts: application/json
  /network_connections/{connectionId}:
    delete:
      description: |
        Deletes an existing network connection specified by its connection ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: deleteNetworkConnection
      parameters:
      - description: The ID of the network connection to delete
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Deletes a network connection by ID
      tags:
      - Network connections
      x-accepts: application/json
    get:
      description: |
        Gets a network connection by ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: getNetworkConnectionById
      parameters:
      - description: The ID of the connection
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NetworkConnectionResponse'
          description: A network connection
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get a network connection
      tags:
      - Network connections
      x-readme:
        code-samples:
        - language: python
          code: network_connection = fireblocks.get_network_connection_by_id(connectionId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const network_connection = await fireblocks.getNetworkConnection(connectionId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /network_ids:
    get:
      description: |
        Retrieves a list of all local and discoverable remote network IDs.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: getNetworkIds
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/getNetworkIds_200_response_inner'
                type: array
          description: A list of network IDs
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: "Returns all network IDs, both local IDs and discoverable remote IDs"
      tags:
      - Network connections
      x-accepts: application/json
    post:
      description: |
        Creates a new Network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: createNetworkId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createNetworkId_request'
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NetworkIdResponse'
          description: Returns the new network ID in your workspace
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Creates a new Network ID
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /network_ids/{networkId}:
    delete:
      description: |
        Deletes a network by its ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: deleteNetworkId
      parameters:
      - description: The ID of the network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Deletes specific network ID.
      tags:
      - Network connections
      x-accepts: application/json
    get:
      description: |
        Retrieves a network by its ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: getNetworkIdById
      parameters:
      - description: The ID of the network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NetworkIdResponse'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Returns specific network ID.
      tags:
      - Network connections
      x-accepts: application/json
  /network_ids/{networkId}/set_routing_policy:
    patch:
      description: |
        Updates the routing policy of a specified network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: setRoutingPolicyForNetworkId
      parameters:
      - description: The ID of the network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setRoutingPolicyForNetworkId_request'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update network id routing policy.
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /network_ids/{networkId}/set_discoverability:
    patch:
      description: |
        Update whether or not the network ID is discoverable by others.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: setDiscoverabilityForNetworkId
      parameters:
      - description: The ID of the network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setDiscoverabilityForNetworkId_request'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update network ID's discoverability.
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /network_ids/{networkId}/set_name:
    patch:
      description: |
        Updates name of a specified network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: setNetworkIdName
      parameters:
      - description: The ID of the network
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setNetworkIdName_request'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/setRoutingPolicyForNetworkConnection_200_response'
          description: Network ID
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update network ID's name.
      tags:
      - Network connections
      x-content-type: application/json
      x-accepts: application/json
  /internal_wallets:
    get:
      description: |
        Gets a list of internal wallets.

        **Note**: BTC-based assets belonging to whitelisted addresses cannot be retrieved between 00:00 UTC and 00:01 UTC daily due to third-party provider, Blockchair, being unavailable for this 60 second period. Please wait until the next minute to retrieve BTC-based assets.
      operationId: getInternalWallets
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/UnmanagedWallet'
                type: array
          description: A list of internal wallets
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List internal wallets
      tags:
      - Internal wallets
      x-accepts: application/json
    post:
      description: Creates a new internal wallet with the requested name.
      operationId: createInternalWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInternalWallet_request'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
          description: A new wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: "internalWallet = fireblocks.create_internal_wallet(name, customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const internalWallet = await fireblocks.createInternalWallet(name,\
            \ customerRefId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /internal_wallets/{walletId}:
    delete:
      description: Deletes an internal wallet by ID.
      operationId: deleteInternalWallet
      parameters:
      - description: The ID of the wallet to delete
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Delete an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: result = firebocks.delete_internal_wallet(walletId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const result = await fireblocks.deleteInternalWallet(walletId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    get:
      description: Returns all assets in an internal wallet by ID.
      operationId: getInternalWalletById
      parameters:
      - description: The ID of the wallet to return
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnmanagedWallet'
          description: A Wallet object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get assets for internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: internalWallet = fireblocks.get_internal_wallet(walletId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const result = await fireblocks.getInternalWallet(walletId);
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /internal_wallets/{walletId}/set_customer_ref_id:
    post:
      description: Sets an AML/KYT customer reference ID for the specific internal
        wallet.
      operationId: setCustomerRefIdForInternalWallet
      parameters:
      - description: The wallet ID
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setCustomerRefIdForVaultAccount_request'
        required: true
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Set an AML/KYT customer reference ID for an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: "result = firebocks.set_customer_ref_id_for_internal_wallet(wallet_id,\
            \ customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const result = await fireblocks.setCustomerRefIdForInternalWallet(walletId,\
            \ customerRefId);"
          name: Fireblocks SDK Javascript example
      x-content-type: application/json
      x-accepts: application/json
  /internal_wallets/{walletId}/{assetId}:
    delete:
      description: Deletes a whitelisted address (for an asset) from an internal wallet.
      operationId: deleteInternalWalletAsset
      parameters:
      - description: The ID of the wallet
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      - description: The ID of the asset to delete
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          minimum: 1
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "201":
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Delete a whitelisted address from an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: "result = fireblocks.delete_internal_wallet_asset(walletId, assetId)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const result = await fireblocks.deleteInternalWalletAsset(walletId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    get:
      description: Returns information for an asset in an internal wallet.
      operationId: getInternalWalletAsset
      parameters:
      - description: The ID of the wallet
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          minimum: 1
          type: string
        style: simple
      - description: The ID of the asset to return
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          minimum: 1
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WalletAsset'
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get an asset from an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: "internalWalletAsset = fireblocks.get_internal_wallet_asset(walletId,\
            \ assetId)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const internalWalletAsset = fireblocks.getInternalWalletAsset(walletId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Adds an asset to an existing internal wallet.
      operationId: createInternalWalletAsset
      parameters:
      - description: The ID of the wallet
        explode: false
        in: path
        name: walletId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the asset to add
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInternalWalletAsset_request'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WalletAsset'
          description: A Wallet Asset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Add an asset to an internal wallet
      tags:
      - Internal wallets
      x-readme:
        code-samples:
        - language: python
          code: "internalWalletAsset = fireblocks.create_internal_wallet_asset(walletId,\
            \ assetId, address, tag)"
          name: Fireblocks SDK Python example
        - language: javascript
[...]
