openapi: 3.0.0
info:
  contact:
    email: support@fireblocks.com
  title: Fireblocks API
  version: 1.6.2
servers:
- url: https://api.fireblocks.io/v1
paths:
  /vault/accounts:
    get:
      description: Gets all vault accounts in your workspace.
      operationId: getVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAccountsResponse'
          description: A list of vault accounts
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List vault accounts
      tags:
      - Vaults
      x-internal: true
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Creates a new vault account with the requested name.
      operationId: createVaultAccount
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVaultAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccount'
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create a new vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI,\
            \ customer_ref_id, auto_fueling)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI,\
            \ customerRefId, autoFueling);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.createVaultAccount(vaultsApiCreateVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().createVaultAccount(createVaultAccountRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/bulk:
    post:
      description: |
        Create multiple vault accounts by running an async job. </br>
        **Note**:
        - These endpoints are currently in beta and might be subject to changes.
        - We limit accounts to 10k per operation and 200k per customer during beta testing.
      operationId: createMultipleAccounts
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMultipleAccountsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreated'
          description: A JobCreated object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Bulk creation of new vault accounts
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.vaults.createMultipleAccounts(vaultsApiCreateMultipleAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.vaults().createMultipleAccounts(createMultipleAccountsRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts_paged:
    get:
      description: Gets all vault accounts in your workspace. This endpoint returns
        a limited amount of results with a quick response time.
      operationId: getPagedVaultAccounts
      parameters:
      - explode: true
        in: query
        name: namePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: nameSuffix
        required: false
        schema:
          type: string
        style: form
      - description: "Specifying minAmountThreshold will filter accounts with balances\
          \ greater than this value, otherwise, it will return all accounts."
        explode: true
        in: query
        name: minAmountThreshold
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 500
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccountsPagedResponse'
          description: A VaultAccountsPagedResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List vault accounts (Paginated)
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccountsPagedResponse>>\
            \ = fireblocks.vaults.getPagedVaultAccounts(vaultsApiGetPagedVaultAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAccountsPagedResponse>> response\
            \ = fireblocks.vaults().getPagedVaultAccounts(namePrefix, nameSuffix,\
            \ minAmountThreshold, assetId, orderBy, before, after, limit);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}:
    get:
      description: Returns the requested vault account.
      operationId: getVaultAccount
      parameters:
      - description: "The ID of the vault account to return type: string"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccount'
          description: A Vault Account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a vault account by ID
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_account = fireblocks.get_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAccount>> = fireblocks.vaults.getVaultAccount(vaultsApiGetVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<VaultAccount>> response = fireblocks.vaults().getVaultAccount(vaultAccountId);
          name: Fireblocks SDK Java example
      x-accepts: application/json
    put:
      description: Renames the requested vault account.
      operationId: updateVaultAccount
      parameters:
      - description: The ID of the vault account to edit
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVaultAccountRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenameVaultAccountResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Rename a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAccount = fireblocks.update_vault_account(vault_account_id,\
            \ name)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId,\
            \ name);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<RenameVaultAccountResponse>>\
            \ = fireblocks.vaults.updateVaultAccount(vaultsApiUpdateVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<RenameVaultAccountResponse>> response\
            \ = fireblocks.vaults().updateVaultAccount(updateVaultAccountRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/asset_wallets:
    get:
      description: |
        Gets all asset wallets at all of the vault accounts in your workspace. An asset wallet is an asset at a vault account. This method allows fast traversal of all account balances.
      operationId: getAssetWallets
      parameters:
      - description: "When specified, only asset wallets with total balance larger\
          \ than this amount are returned."
        explode: true
        in: query
        name: totalAmountLargerThan
        required: false
        schema:
          type: number
        style: form
      - description: "When specified, only asset wallets cross vault accounts that\
          \ have this asset ID are returned."
        explode: true
        in: query
        name: assetId
        required: false
        schema:
          type: string
          x-fb-entity: asset
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: DESC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      - description: Fetches the next paginated response before this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - description: Fetches the next paginated response after this element. This
          element is a cursor and is returned at the response of the previous page.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of asset wallets in a single response. The
          default is 200 and the maximum is 1000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          maximum: 1000
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssetWalletResponse'
          description: A PaginatedAssetWalletResponse object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List asset wallets (Paginated)
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vault_accounts = fireblocks.get_asset_wallets(filters)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAccounts = await fireblocks.getAssetWallets(filters);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PaginatedAssetWalletResponse>>\
            \ = fireblocks.vaults.getAssetWallets(vaultsApiGetAssetWalletsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PaginatedAssetWalletResponse>> response\
            \ = fireblocks.vaults().getAssetWallets(totalAmountLargerThan, assetId,\
            \ orderBy, before, after, limit);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/hide:
    post:
      description: Hides the requested vault account from the web console view.
      operationId: hideVaultAccount
      parameters:
      - description: The vault account to hide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Hide a vault account in the console
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.hideVaultAccount(vaultsApiHideVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().hideVaultAccount(vaultAccountId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/unhide:
    post:
      description: Makes a hidden vault account visible in web console view.
      operationId: unhideVaultAccount
      parameters:
      - description: The vault account to unhide
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Unhide a vault account in the console
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.unhideVaultAccount(vaultsApiUnhideVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().unhideVaultAccount(vaultAccountId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/activate:
    post:
      description: Initiates activation for a wallet in a vault account.
      operationId: activateAssetForVaultAccount
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Activate a wallet in a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
            \ = fireblocks.vaults.activateAssetForVaultAccount(vaultsApiActivateAssetForVaultAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
            \ = fireblocks.vaults().activateAssetForVaultAccount(vaultAccountId, assetId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/set_customer_ref_id:
    post:
      description: Assigns an AML/KYT customer reference ID for the vault account.
      operationId: setVaultAccountCustomerRefId
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Set an AML/KYT customer reference ID for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id,\
            \ customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId,\
            \ customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setVaultAccountCustomerRefId(vaultsApiSetVaultAccountCustomerRefIdRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountCustomerRefId(setCustomerRefIdRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/set_auto_fuel:
    post:
      description: Sets the autofueling property of the vault account to enabled or
        disabled.
      operationId: setVaultAccountAutoFuel
      parameters:
      - description: The vault account ID
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAutoFuelRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Turn autofueling on or off
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setVaultAccountAutoFuel(vaultsApiSetVaultAccountAutoFuelRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setVaultAccountAutoFuel(setAutoFuelRequest,\
            \ vaultAccountId, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}:
    get:
      description: Returns a wallet for a specific asset of a vault account.
      operationId: getVaultAccountAsset
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: A VaultAsset object
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the asset balance for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultAccountAsset(vaultsApiGetVaultAccountAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultAccountAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
    post:
      description: Creates a wallet for a specific asset in a vault account.
      operationId: createVaultAccountAsset
      parameters:
      - description: "The ID of the vault account to return, or 'default' for the\
          \ default vault account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetsRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateVaultAssetResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create a new wallet
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateVaultAssetResponse>>\
            \ = fireblocks.vaults.createVaultAccountAsset(vaultsApiCreateVaultAccountAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateVaultAssetResponse>> response\
            \ = fireblocks.vaults().createVaultAccountAsset(vaultAccountId, assetId,\
            \ createAssetsRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/balance:
    post:
      description: Updates the balance of a specific asset in a vault account.
      operationId: updateVaultAccountAssetBalance
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: A VaultAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Refresh asset balance data
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.updateVaultAccountAssetBalance(vaultsApiUpdateVaultAccountAssetBalanceRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().updateVaultAccountAssetBalance(vaultAccountId,\
            \ assetId, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses:
    get:
      description: |-
        Lists all addresses for specific asset of vault account.
        - This endpoint will be deprecated on Mar 31,2024.
        - If your application logic or scripts rely on the deprecated endpoint, you should update to account for GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated before Mar 31,2024.
        - All workspaces created after Mar 31,2024. will have it disabled. If it is disabled for your workspace and you attempt to use it, you will receive the following error message: "This endpoint is unavailable.
        - Please use the GET/V1/vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated endpoint to return all the wallet addresses associated with the specified vault account and asset in a paginated list.
        - This API call is subject to rate limits.
      operationId: getVaultAccountAssetAddresses
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAccountAssetAddressesResponse'
          description: A list of deposit addresses
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get asset addresses
      tags:
      - Vaults
      x-internal: true
      x-readme:
        code-samples:
        - language: python
          code: "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id,\
            \ asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
    post:
      description: Creates a new deposit address for an asset of a vault account.
      operationId: createVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Create new asset deposit address
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.generate_new_address(vault_account_id, asset_id,\
            \ description, customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.generateNewAddress(vaultAccountId,\
            \ assetId, description, customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
            \ = fireblocks.vaults.createVaultAccountAssetAddress(vaultsApiCreateVaultAccountAssetAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
            \ fireblocks.vaults().createVaultAccountAssetAddress(vaultAccountId, assetId,\
            \ createAddressRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses_paginated:
    get:
      description: Returns a paginated response of the addresses for a given vault
        account and asset.
      operationId: getVaultAccountAssetAddressesPaginated
      parameters:
      - description: The ID of the vault account to return
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAddressResponse'
          description: "A paginated list of addresses, and pagination info."
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List addresses (Paginated)
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "addresses = vault_accounts = fireblocks.get_paginated_addresses(\"\
            0\",\"ETH_TEST3\")"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const addresses = await fireblocks.getPaginatedAddresses(\"0\",\"\
            ETH_TEST3\");"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PaginatedAddressResponse>>\
            \ = fireblocks.vaults.getVaultAccountAssetAddressesPaginated(vaultsApiGetVaultAccountAssetAddressesPaginatedRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PaginatedAddressResponse>> response\
            \ = fireblocks.vaults().getVaultAccountAssetAddressesPaginated(vaultAccountId,\
            \ assetId, limit, before, after);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount:
    get:
      description: "Get the maximum amount of a particular asset that can be spent\
        \ in a single transaction from a specified vault account (UTXO assets only,\
        \ with a limitation on number of inputs embedded). Send several transactions\
        \ if you want to spend more than the maximum spendable amount."
      operationId: getMaxSpendableAmount
      parameters:
      - description: "The ID of the vault account, or 'default' for the default vault\
          \ account"
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: False by default. The maximum number of inputs depends if the
          transaction will be signed by an automated co-signer server or on a mobile
          device.
        explode: true
        in: query
        name: manualSignging
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMaxSpendableAmountResponse'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the maximum spendable amount in a single transaction.
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetMaxSpendableAmountResponse>>\
            \ = fireblocks.vaults.getMaxSpendableAmount(vaultsApiGetMaxSpendableAmountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<GetMaxSpendableAmountResponse>> response\
            \ = fireblocks.vaults().getMaxSpendableAmount(vaultAccountId, assetId,\
            \ manualSignging);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}:
    put:
      description: Updates the description of an existing address of an asset in a
        vault account.
      operationId: updateVaultAccountAssetAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVaultAccountAssetAddressRequest'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Update address description
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "address = fireblocks.set_address_description(vault_account_id, asset_id,\
            \ address, tag, description)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const address = await fireblocks.setAddressDescription(vaultAccountId,\
            \ assetId, address, tag, description);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.updateVaultAccountAssetAddress(vaultsApiUpdateVaultAccountAssetAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().updateVaultAccountAssetAddress(vaultAccountId,\
            \ assetId, addressId, updateVaultAccountAssetAddressRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id:
    post:
      description: Sets an AML/KYT customer reference ID for a specific address.
      operationId: setCustomerRefIdForAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: "The address for which to add a description. For XRP, use <address>:<tag>,\
          \ for all other assets, use only the address"
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetCustomerRefIdForAddressRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultActionStatus'
          description: OK
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Assign AML customer reference ID
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id,\
            \ asset_id, address_id, customer_ref_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId,\
            \ assetId, addressId, customerRefId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultActionStatus>> =\
            \ fireblocks.vaults.setCustomerRefIdForAddress(vaultsApiSetCustomerRefIdForAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<VaultActionStatus>> response = fireblocks.vaults().setCustomerRefIdForAddress(setCustomerRefIdForAddressRequest,\
            \ vaultAccountId, assetId, addressId, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy:
    post:
      description: Converts an existing segwit address to the legacy format.
      operationId: createLegacyAddress
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - description: The segwit address to translate
        explode: false
        in: path
        name: addressId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAddressResponse'
          description: The created address
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Convert a segwit address to legacy format
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<CreateAddressResponse>>\
            \ = fireblocks.vaults.createLegacyAddress(vaultsApiCreateLegacyAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<CreateAddressResponse>> response =\
            \ fireblocks.vaults().createLegacyAddress(vaultAccountId, assetId, addressId,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs:
    get:
      description: Returns unspent inputs information of an asset in a vault account.
      operationId: getUnspentInputs
      parameters:
      - description: The ID of the vault account
        explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - description: The ID of the asset
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUnspentInputsResponse'
          description: List of Unspent information per input
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get UTXO unspent inputs information
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetUnspentInputsResponse>>\
            \ = fireblocks.vaults.getUnspentInputs(vaultsApiGetUnspentInputsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<List<UnspentInputsResponse>>> response\
            \ = fireblocks.vaults().getUnspentInputs(vaultAccountId, assetId);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/public_key_info:
    get:
      description: Gets the public key information based on derivation path and signing
        algorithm.
      operationId: getPublicKeyInfo
      parameters:
      - explode: true
        in: query
        name: derivationPath
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: algorithm
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
          description: Public key information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the public key information
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path,\
            \ compressed)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
            \ = fireblocks.vaults.getPublicKeyInfo(vaultsApiGetPublicKeyInfoRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfo(derivationPath,\
            \ algorithm, compressed);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info:
    get:
      description: Gets the public key information for the vault account.
      operationId: getPublicKeyInfoForAddress
      parameters:
      - explode: false
        in: path
        name: vaultAccountId
        required: true
        schema:
          format: numeric
          type: string
          x-fb-entity: vault_account
        style: simple
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      - explode: false
        in: path
        name: change
        required: true
        schema:
          type: number
        style: simple
      - explode: false
        in: path
        name: addressIndex
        required: true
        schema:
          type: number
        style: simple
      - explode: true
        in: query
        name: compressed
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyInformation'
          description: Public Key Information
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get the public key for a vault account
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id,\
            \ vault_account_id, change, address_index, compressed)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: |
            const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<PublicKeyInformation>>\
            \ = fireblocks.vaults.getPublicKeyInfoForAddress(vaultsApiGetPublicKeyInfoForAddressRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<PublicKeyInformation>> response = fireblocks.vaults().getPublicKeyInfoForAddress(vaultAccountId,\
            \ assetId, change, addressIndex, compressed);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/assets:
    get:
      description: Gets the assets amount summary for all accounts or filtered accounts.
      operationId: getVaultAssets
      parameters:
      - explode: true
        in: query
        name: accountNamePrefix
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: accountNameSuffix
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVaultAssetsResponse'
          description: Amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get asset balance for chosen assets
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix,\
            \ account_name_suffix)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix,\
            \ accountNameSuffix);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetVaultAssetsResponse>>\
            \ = fireblocks.vaults.getVaultAssets(vaultsApiGetVaultAssetsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<List<VaultAsset>>> response = fireblocks.vaults().getVaultAssets(accountNamePrefix,\
            \ accountNameSuffix);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /vault/assets/bulk:
    post:
      description: |
        Create multiple wallets for a given vault account by running an async job. </br>
        **Note**:
        - These endpoints are currently in beta and might be subject to changes.
        - We limit accounts to 10k per operation and 200k per customer during beta testing.
        - Currently, we are only supporting EVM wallets.
      operationId: createAssetsBulk
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetsBulkRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreated'
          description: A JobCreated object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Bulk creation of wallets
      tags:
      - Assets
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<JobCreated>> = fireblocks.assets.createAssetsBulk(assetsApiCreateAssetsBulkRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<JobCreated>> response = fireblocks.assets().createAssetsBulk(createAssetsBulkRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /vault/assets/{assetId}:
    get:
      description: Gets the vault balance summary for an asset.
      operationId: getVaultBalanceByAsset
      parameters:
      - explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
          x-fb-entity: asset
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAsset'
          description: Vault amount by asset
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Get vault balance by asset
      tags:
      - Vaults
      x-readme:
        code-samples:
        - language: python
          code: assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<VaultAsset>> = fireblocks.vaults.getVaultBalanceByAsset(vaultsApiGetVaultBalanceByAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<VaultAsset>> response = fireblocks.vaults().getVaultBalanceByAsset(assetId);
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /workspace/freeze:
    post:
      description: "Freezes a Workspace so that ALL operations by ANY user are blocked.\n\
        \nYou should only perform this action when the workspace faces imminent risk,\
        \ such as when you have a security breach.\n\nTo unfreeze a workspace, the\
        \ workspace Owner must submit a request to Fireblocks Support.\n\n**NOTE:**\
        \ \n- This operation can only be performed by the workspace Owner\n- Your\
        \ workspace continues to receive incoming transfers during this time.\n"
      operationId: freezeWorkspace
      parameters:
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: indicates that the workspace is now frozen
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Freeze Workspace
      tags:
      - Workspace
      x-internal: true
      x-accepts: application/json
  /exchange_accounts:
    get:
      deprecated: true
      description: Deprecated (use new 'paged' endpoint) - Returns all exchange accounts.
      operationId: getExchangeAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExchangeAccountsResponse'
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List exchange accounts
      tags:
      - Exchange accounts
      x-internal: true
      x-readme:
        code-samples:
        - language: python
          code: exchangeAccounts = fireblocks.get_exchange_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const exchangeAccounts = await fireblocks.getExchangeAccounts();
          name: Fireblocks SDK Javascript example
      x-accepts: application/json
  /exchange_accounts/paged:
    get:
      description: Returns a page include exchange accounts.
      operationId: getPagedExchangeAccounts
      parameters:
      - explode: true
        in: query
        name: before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: number of exchanges per page
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 3
          maximum: 5
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPagedExchangeAccountsResponse'
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Pagination list exchange accounts
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: javascript
          code: const exchangeAccounts = await fireblocks.getExchangeAccountsPaged();
          name: Fireblocks SDK Javascript example
        - language: python
          code: exchangeAccounts = fireblocks.get_exchange_accounts_paged()
          name: Fireblocks SDK Python example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetPagedExchangeAccountsResponse>>\
            \ = fireblocks.exchangeAccounts.getPagedExchangeAccounts(exchangeAccountsApiGetPagedExchangeAccountsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<List<ExchangeAccountsPaged>>> response\
            \ = fireblocks.exchangeAccounts().getPagedExchangeAccounts(limit, before,\
            \ after);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}:
    get:
      description: Returns an exchange account by ID.
      operationId: getExchangeAccount
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeAccount'
          description: An ExchangeAccount object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a specific exchange account
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: python
          code: exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<ExchangeAccount>> = fireblocks.exchangeAccounts.getExchangeAccount(exchangeAccountsApiGetExchangeAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<ExchangeAccount>> response = fireblocks.exchangeAccounts().getExchangeAccount(exchangeAccountId);
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/internal_transfer:
    post:
      description: Transfers funds between trading accounts under the same exchange
        account.
      operationId: internalTransfer
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInternalTransferRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalTransferResponse'
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Internal transfer for exchange accounts
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<InternalTransferResponse>>\
            \ = fireblocks.exchangeAccounts.internalTransfer(exchangeAccountsApiInternalTransferRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<InternalTransferResponse>> response\
            \ = fireblocks.exchangeAccounts().internalTransfer(exchangeAccountId,\
            \ createInternalTransferRequest, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/convert:
    post:
      description: "Convert exchange account funds from the source asset to the destination\
        \ asset. Coinbase (USD to USDC, USDC to USD) and Bitso (MXN to USD) are supported\
        \ conversions."
      operationId: convertAssets
      parameters:
      - description: "The ID of the exchange account. Please make sure the exchange\
          \ supports conversions. To find the ID of your exchange account, use GET/exchange_accounts."
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertAssetsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertAssetsResponse'
          description: Conversion successful
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Convert exchange account funds from the source asset to the destination
        asset.
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: typescript
          code: "const response: Promise<FireblocksResponse<ConvertAssetsResponse>>\
            \ = fireblocks.exchangeAccounts.convertAssets(exchangeAccountsApiConvertAssetsRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<ConvertAssetsResponse>> response =\
            \ fireblocks.exchangeAccounts().convertAssets(exchangeAccountId, convertAssetsRequest,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /exchange_accounts/{exchangeAccountId}/{assetId}:
    get:
      description: Returns an asset for an exchange account.
      operationId: getExchangeAccountAsset
      parameters:
      - description: The ID of the exchange account to return
        explode: false
        in: path
        name: exchangeAccountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the asset to return
        explode: false
        in: path
        name: assetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeAsset'
          description: An ExchangeAccountAsset object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find an asset for an exchange account
      tags:
      - Exchange accounts
      x-readme:
        code-samples:
        - language: python
          code: "exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId,\
            \ assetId)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId,\
            \ assetId);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<ExchangeAsset>> = fireblocks.exchangeAccounts.getExchangeAccountAsset(exchangeAccountsApiGetExchangeAccountAssetRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<ExchangeAsset>> response = fireblocks.exchangeAccounts().getExchangeAccountAsset(exchangeAccountId,\
            \ assetId);"
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /fiat_accounts:
    get:
      description: Returns all fiat accounts.
      operationId: getFiatAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFiatAccountsResponse'
          description: A fiat account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List fiat accounts
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: transactions = fireblocks.get_fiat_accounts()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const transactions = await fireblocks.getFiatAccounts();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetFiatAccountsResponse>>\
            \ = fireblocks.fiatAccounts.getFiatAccounts();"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<List<FiatAccount>>> response = fireblocks.fiatAccounts().getFiatAccounts();
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /fiat_accounts/{accountId}:
    get:
      description: Returns a fiat account by ID.
      operationId: getFiatAccount
      parameters:
      - description: The ID of the fiat account to return
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiatAccount'
          description: A fiat account object
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Find a specific fiat account
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: transactions = fireblocks.get_fiat_account_by_id(account_id)
          name: Fireblocks SDK Python example
        - language: javascript
          code: const transactions = await fireblocks.getFiatAccountById(accountId);
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<FiatAccount>> = fireblocks.fiatAccounts.getFiatAccount(fiatAccountsApiGetFiatAccountRequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<FiatAccount>> response = fireblocks.fiatAccounts().getFiatAccount(accountId);
          name: Fireblocks SDK Java example
      x-accepts: application/json
  /fiat_accounts/{accountId}/redeem_to_linked_dda:
    post:
      description: Redeems funds to the linked DDA.
      operationId: redeemFundsToLinkedDDA
      parameters:
      - description: The ID of the fiat account to use
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Funds'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemFundsToLinkedDDAResponse'
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Redeem funds to DDA
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: "transactions = fireblocks.redeem_to_linked_dda(account_id, amount)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const transactions = await fireblocks.redeemToLinkedDDA(accountId,\
            \ amount);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<RedeemFundsToLinkedDDAResponse>>\
            \ = fireblocks.fiatAccounts.redeemFundsToLinkedDDA(fiatAccountsApiRedeemFundsToLinkedDDARequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<RedeemFundsToLinkedDDAResponse>> response\
            \ = fireblocks.fiatAccounts().redeemFundsToLinkedDDA(accountId, funds,\
            \ idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /fiat_accounts/{accountId}/deposit_from_linked_dda:
    post:
      description: Deposits funds from the linked DDA.
      operationId: depositFundsFromLinkedDDA
      parameters:
      - description: The ID of the fiat account to use
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "A unique identifier for the request. If the request is sent\
          \ multiple times with the same idempotency key, the server will return the\
          \ same response as the first request. The idempotency key is valid for 24\
          \ hours."
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Funds'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositFundsFromLinkedDDAResponse'
          description: Transfer succeeded
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: Deposit funds from DDA
      tags:
      - Fiat accounts
      x-readme:
        code-samples:
        - language: python
          code: "transactions = fireblocks.deposit_from_linked_dda(account_id, amount)"
          name: Fireblocks SDK Python example
        - language: javascript
          code: "const transactions = await fireblocks.depositFromLinkedDDA(accountId,\
            \ amount);"
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<DepositFundsFromLinkedDDAResponse>>\
            \ = fireblocks.fiatAccounts.depositFundsFromLinkedDDA(fiatAccountsApiDepositFundsFromLinkedDDARequest);"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: "CompletableFuture<ApiResponse<DepositFundsFromLinkedDDAResponse>>\
            \ response = fireblocks.fiatAccounts().depositFundsFromLinkedDDA(accountId,\
            \ funds, idempotencyKey);"
          name: Fireblocks SDK Java example
      x-content-type: application/json
      x-accepts: application/json
  /network_connections:
    get:
      description: |
        Returns all network connections.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      operationId: getNetworkConnections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkConnectionsResponse'
          description: A list of network connections
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Error Response
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
      summary: List network connections
      tags:
      - Network connections
      x-readme:
        code-samples:
        - language: python
          code: network_connections = fireblocks.get_network_connections()
          name: Fireblocks SDK Python example
        - language: javascript
          code: const networkConnections = await fireblocks.getNetworkConnections();
          name: Fireblocks SDK Javascript example
        - language: typescript
          code: "const response: Promise<FireblocksResponse<GetNetworkConnectionsResponse>>\
            \ = fireblocks.networkConnections.getNetworkConnections();"
          name: Fireblocks SDK TypeScript example
        - language: java
          code: CompletableFuture<ApiResponse<List<NetworkConnectionResponse>>> response
            = fireblocks.networkConnections().getNetworkConnections();
          name: Fireblocks SDK Java example
      x-accepts: application/json
    post:
      description: |
        Initiates a new network connection.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

[...]
